<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" >

	<!-- the targets to write to -->
	<targets>

		<target xsi:type="File" name="development" fileName="${basedir}/Logs/DevLogFile.txt"
		        layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

		<target xsi:type="File" name="staging" fileName="${basedir}/Logs/StagingLogFile.txt"
		        layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

		<target xsi:type="File" name="production" fileName="${basedir}/Logs/ProductionLogFile.txt"
				layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

		<!-- Sample for CSV format -->
		<target xsi:type="File" name="testing" fileName="${basedir}/Logs/Log-${date:format=yyyy-MM-dd}.csv">
			<layout xsi:type="CsvLayout">
				<column name="Index" layout="${counter}" />
				<column name="ThreadID" layout="${threadid}" />
				<column name="Time" layout="${longdate}" />
				<column name="Severity" layout="${level:uppercase=true}" />
				<column name="Location" layout="${callsite:className=False:fileName=True:includeSourcePath=False:methodName=False}" />
				<column name="Detail" layout="${message}" />
				<column name="Exception" layout="${exception:format=ToString}" />
			</layout>
		</target>


		<!-- write to console-->
		<target xsi:type="Console" name="target2"
				layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--<logger name="*" minlevel="Fatal" writeTo="development" />-->
		<logger name="*" minlevel="Trace" writeTo="testing" />

	</rules>
</nlog>